h1 {
    color:blueviolet;
    background-color: whitesmoke;
}
p {
    color:blueviolet;
}
button {
    color:blueviolet;
    background-color:whitesmoke;
}
body {
    background-color: #ff00ff;
}